/* --------------声明字体------------- */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* ------------------------------main主模块------------------------------------ */
.main {
    height: 465px;
    margin-bottom: 11px;
}

/* -------------foucus焦点图------------- */
.main .focus {
    float: left;
    margin-top: 10px;
    margin-left: 219px;
    width: 721px;
    height: 455px;
}

/* -------------newsflash新闻快报------------- */
.main .newsflash {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 455px;
}

/* 新闻 */
.main .newsflash .news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.newsflash .news .hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
}

.news .hd h5 {
    float: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 32px;
}

.news .hd .more {
    float: right;
    padding-right: 15px;
    font-size: 12px;
    line-height: 32px;
}

.news .hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}

.newsflash .news .bd {
    padding-left: 15px;
    padding-top: 6px;
    height: 130px;
}

.news .bd ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsflash .news .bd ul li a {
    font-size: 12px;
    line-height: 24px;
}

/* 生活服务 */
.main .newsflash .lifeservice {
    height: 209px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice ul li a {
    display: block;
    width: 63px;
    height: 71px;
    font-size: 12px;
    text-align: center;
}

.lifeservice ul li h5 {
    margin: 13px auto 8px;
    width: 24px;
    height: 24px;
}

.lifeservice ul li:nth-child(1) h5 {
    background: url(../images/icons.png) no-repeat -17px -16px;
}

.lifeservice ul li:nth-child(2) h5 {
    background: url(../images/icons.png) no-repeat -79px -16px;
}

.lifeservice ul li:nth-child(3) h5 {
    background: url(../images/icons.png) no-repeat -141px -16px;
}

.lifeservice ul li:nth-child(4) h5 {
    background: url(../images/icons.png) no-repeat -206px -16px;
}

.lifeservice ul li:nth-child(5) h5 {
    background: url(../images/icons.png) no-repeat -17px -88px;
}

.lifeservice ul li:nth-child(6) h5 {
    background: url(../images/icons.png) no-repeat -80px -88px;
}

.lifeservice ul li:nth-child(7) h5 {
    background: url(../images/icons.png) no-repeat -141px -88px;
}

.lifeservice ul li:nth-child(8) h5 {
    background: url(../images/icons.png) no-repeat -206px -88px;
}

.lifeservice ul li:nth-child(9) h5 {
    background: url(../images/icons.png) no-repeat -17px -159px;
}

.lifeservice ul li:nth-child(10) h5 {
    background: url(../images/icons.png) no-repeat -79px -159px;
}

.lifeservice ul li:nth-child(11) h5 {
    background: url(../images/icons.png) no-repeat -141px -159px;
}

.lifeservice ul li:nth-child(12) h5 {
    background: url(../images/icons.png) no-repeat -206px -159px;
}

/* “减”字小图标 */
.lifeservice ul li .down {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 12px;
    height: 15px;
    background-color: #589d5a;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}

.lifeservice ul li .down .left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-bottom: 3px solid #fff;
}

.lifeservice ul li .down .right {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-bottom: 3px solid #fff;
}

/* 特价商品图 */
.main .newsflash .bargain {
    height: 75px;
    margin-top: 5px;
}

/* ------------------------------recommend推荐模块------------------------------------ */
.recommend {
    height: 163px;
    margin-bottom: 30px;
}

.recommend .recom_hd {
    float: left;
    width: 206px;
    height: 163px;
    background: #5c5251 url(../images/recom.png) no-repeat center;
}

.recommend .recom_bd {
    float: left;
    width: 994px;
    height: 163px;
    overflow: hidden;
    background-color: #ebebeb;
}

.recommend .recom_bd ul {
    width: 996px;
}

.recommend .recom_bd ul li {
    float: left;
    width: 249px;
    height: 163px;
}

.recommend .recom_bd ul li::after {
    float: right;
    content: '';
    width: 1px;
    height: 143px;
    margin-top: 10px;
    background-color: #dddddd;
}

/* ------------------------------floor楼层区模块------------------------------------ */
/* -----------头部标题模块------------- */
.floor .box_hd {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #c71523;
}

.floor .box_hd h4 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.floor .box_hd .tab_list ul {
    float: right;
    margin-top: 6px;
}

.floor .box_hd .tab_list ul li {
    float: left;
}

.floor .box_hd .tab_list ul li a {
    padding: 0 16px;
    font-size: 12px;
}

/* -----------内容模块------------- */
.floor .box_bd {
    height: 360px;
    margin-bottom: 28px;
}

.col_210 {
    width: 210px;
    background-color: #fbfbfb;
}

.col_329 {
    width: 329px;
}

.col_219 {
    width: 219px;
}

.col_222 {
    width: 222px;
    border: 1px solid #ededed;
    border-top: 0;
}

.tab_content .col_210 ul {
    padding-left: 2px;
}

.tab_content .col_210 ul li {
    float: left;
    margin-left: 12px;
    width: 86px;
    height: 33px;
    border-bottom: 1px solid #ededed;
    text-align: center;
}

.tab_content .col_210 ul li a {
    font-size: 12px;
    line-height: 32px;
}

.tab_content div>a {
    display: block;
}

.tab_content img {
    width: 100%;
}

.col_219 img {
    border-bottom: 1px solid #ededed;
}

.tab_content div {
    overflow: hidden;
}

.tab_content a:hover img {
    transform: translate(3px, 0);
}